/*  Site Nav */

.site-logo img {
  max-width: 200px;
}

.ui.site-nav.menu {
  background: white;
  box-shadow: none;
  border: none;
  padding: 2em 2em 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.ui.menu:not(.vertical) .right.item.nav-toggle {
    display: none;
}

.ui.site-nav.menu .item {
  position: initial;
  padding-left: .5em;
}
.ui.site-nav.menu .active.item {
  background: white;
}

.ui.site-nav.menu .item>a:not(.ui) {
  text-transform: uppercase;
}

.common-nav {
  width: 30%!important;
}

.screen-display {
  width: 70%;
  display: inherit;
  visibility: visible;
}
.ui.site-nav.menu .screen-display .item{
  padding-left: 1em;
  border: 2px solid white;
  height: 50px;
  padding: 10px 30px;
}
.ui.site-nav.menu .screen-display .active.item a{
  color: #653e92;
}
.ui.site-nav.menu .screen-display .item a:hover {
    text-decoration: none;
}

@media (max-width: 992px) {
  .ui.menu {
      display: block;
  }

  .ui.menu:not(.vertical) .right.item.nav-toggle {
    display: inline-block;
    display: inline-block;
    position: fixed;
    right: 20px;
    top: 30px;
    z-index: 200;
  }

  .screen-display {
    visibility: hidden;
    background: white;
    position: fixed;
    width: 100%;
    top: 111px;
    left: 0;
  }

  .ui.menu:not(.vertical) .screen-display .right.item,
  .ui.menu:not(.vertical) .screen-display .right.menu,
  .ui.site-nav.menu .screen-display .item {
      display: block;
      flex: none;
      margin-left: 2em!important;
  }
}

.page-content {
  margin-top: 120px;
}

/* Marquee */

.marquee {
  margin-bottom: -6rem;
  margin-top: 2rem;
}

.spaced {
  font-weight: 500!important;
  letter-spacing: 4px!important;
}

.ui.header {
margin: 2rem 0!important;
}

/*  Project Page */
.project-hero {
  width: 100%;
}

/* Footer */


.footer {
  background: #272b31;
  padding: 3em 0;
  color: #787d85;
}

.footer a {
  display: block;
  margin: .5em 0;
}

.ui[class*="very padded"].segment.hm-block-img {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.hm-block-img img {
  width: 80px;
  margin: 2em 0 1em;
}


/* Form */

.form {
  background-color: #653e92;
  color: white;
  padding: 3em 0;
}

.form h2, .form h4, .ui.form .field>label {
  color: white!important;
  font-weight: 300;
}

/*  Grid No Margin */

.ui.grid.no-vertical-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.muted-bg {
  background-color: #eef0f1; /* Muted */
}

/* Thumbnails */

.thumbnails-grid-home, .thumbnail {
  display: block;
  padding-top: 100%;
  width: auto;
  position: relative;
  background-size: contain;
}

.thumbnail .text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 3em 1.5em 1.5em;
  background: rgba(34, 38, 38, .9);
  color: white;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.thumbnail .text:hover {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.thumbnail .text h5  {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.tags {
  position: absolute;
  bottom: 1em;
}

.ui.column.grid.thumbnails-grid-home {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.ui.grid.thumbnails-grid>.column:not(.row),
.ui.grid.thumbnails-grid-home>.column:not(.row) {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

/* Individual Pages */

.markdown-text {
  margin-top: 1.5em;
}

/* OVERWRITES ===========================
Putting them here to develop faster
They might need to be moved to the semantic overwrites file for Gulp to compile
*/


.ui.black.label {
  background: transparent!important;
  border: 1px solid #686d74!important;
  font-weight: 300!important;
  padding: .5em 1em!important;
  color: #9e9da9!important;
  margin-bottom: 5px!important;
}

.ui.column.grid.thumbnails-grid {
  margin-bottom: -25px;
}



/* Overwrites Container */

@media only screen and (min-width: 1049px) {
  .ui.container {
      width: 1050px;
  }
}
