/*  Site Nav */

.site-logo img {
  max-width: 200px;
}

.ui.site-nav.menu {
  background: white;
  box-shadow: none;
  border: none;
}
.ui.site-nav.menu .item {
  position: initial;
}
.ui.site-nav.menu .active.item {
  background: white;
}


/* Marquee */

.marquee {
  padding-top: 4em;
}

.spaced {
  font-weight: 500!important;
  letter-spacing: 4px!important;
}

.ui.header {
margin:  calc(2rem - .14285714em) 0 1rem!important;
}
